body {
    font-family: monospace;
    margin: 15px;
    text-align: center;
    font-size: large;
}

h1 {
    text-align: center;
}

section {
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 10px;
}

.entradas {
    margin: 10px 0;
}

input, select, button {
    margin: 5px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid #333;
}

.resultado {
    margin-top: 10px;
    font-weight: bold;
    color: #4d4d4d;
    
}
